<div id="wrapper" class="BoardLayout">

<div class="cakes_wrapper" id="cakes_wrapper">
  <%= render 'more' %>
</div>

<div class="more_cake_wrapper">
  <div class="load_more_cakes">
    FROST MORE CAKES
  </div>
  <div id="loader" class="cakes_loader" style="display:none;">
    <%= image_tag 'ajax-loader-2.gif', :height => "12px", :style => 'vertical-align:center;' %> FROSTING MORE CAKES
  </div>
</div>

</div>



