<div id="wrapper" class="BoardLayout">

<div class="cakes_wrapper" id="cakes_wrapper">
  <% if current_user && current_user.admin? %>
    <div id="cakes" class="cakes_are_sortable" data-update-url="<%= sort_projects_url %>">	
  <% else %>
    <div id="cakes">	
  <% end %>
      <%= render 'more' %>
    </div>
</div>

<div class="more_cake_wrapper">
  <div class="load_more_cakes">
    FROST MORE CAKES
  </div>
  <div id="loader" class="cakes_loader" style="display:none;">
    <%= image_tag 'ajax-loader-2.gif', :height => "12px", :style => 'vertical-align:center;' %> FROSTING MORE CAKES
  </div>
</div>

</div>



