<html>
<head>

</head>

<body>

Message from website:

<br />
<span style="border: 1px solid blue;"><%= @sent_email.message %></span>
<br />

Name:

<br />
<span style="border: 1px solid blue;"><%= @sent_email.name %></span>
<br />

Email:

<br />
<span style="border: 1px solid blue;"><%= @sent_email.email %></span>
<br />

Phone Number:

<br />
<span style="border: 1px solid blue;"><%= @sent_email.number %></span>
<br />

</body>
</html>
