<script type="text/javascript">

$(document).ready(function() {
  $('a#about_me_nav').addClass('green');
});

</script>
    
    <div>
      <br />
      <h1><%= @abouts.title %></h1>       
    </div>
    <div><%= simple_format(@abouts.body) %></div>
    
    <% if is_admin? %>  
      <br/>
      <%= link_to 'Edit', edit_about_path(@abouts) %>
      <%= link_to 'Delete', @abouts, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>


